/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.page-container {
  padding: 3%;
  height: calc(100vh - 64px - 28px) !important; // 64px is the toolbar height
  overflow: auto;
}
